@model WebShop.Models.ShippingCompany

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShippingCompany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShippingCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingCostPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingCostPercentage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShippingCompanyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
