<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MENU", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="SqlQueries.aspx"> SQL Questions</a></li>
                    <li>@Html.ActionLink("Product", "Index", "Product")</li>
                    <li>@Html.ActionLink("Order", "Index", "Order")</li>
                </ul>

                <div class="dropdown1">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="background: transparent;  border-color:transparent; color: #999; margin-top: 8px;">
                        Customers
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="margin-left: 40%;">
                        <li>@Html.ActionLink("CorporateCustomer", "Index", "CorporateCustomer")</li>
                        <li>@Html.ActionLink("PrivateCustomer", "Index", "PrivateCustomer")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    
    <style>
        .dropdown-submenu {
            position: relative;
            
        }
            .dropdown-submenu .dropdown-menu {
                top: 0;
                left: 100%;
        
            }
 
        .btn-default:hover {
    background-color: transparent;
    border-color:transparent;
    }
 
       .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default:hover {
    color: #999;
    background-color: transparent;
    border-color: transparent;
}
 

    </style>

    <script>
$(document).ready(function(){
  $('.dropdown a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
    </script>
</body>
</html>
